{% extends 'WandrLog/base.html' %}
{% load static %}
{% load trips_extras %}
{% block content %}

<div class="container-fluid bg-dark" style="height: 75px;">

</div>
<div class="container-fluid" style="height: 50px;">

</div>



<section>
    <div class="container">
    <h2>{{trip.trip_name}}</h2>
    <p>A trip by: {{traveler.first_name}} {{traveler.last_name}}</p>
    <p>Destination: {{trip.destination_name}} Lat,Lon: {{destination.latitude}}, {{destination.longitude}}</p>


    <img src="data:image/jpg;base64,{{trip.cover_image}}" alt="..." style="object-fit: cover; object-position: center; width: 1000px; margin-bottom: 1rem;" >
    <p></p>
    <p> Description: {{trip.trip_description}}</p>
    
    <div id="map" style="object-fit: none; object-position: center; width: 1000px; height: 700px; margin-bottom: 1rem; overflow: hidden; padding-bottom:56.25%;position:relative;height:0;"></div>
    <p><small class="text-muted">Created {{trip.published}}</small></p>

  </div>
</section>

<div class="container">
  <h5>Visits</h5>
  {% if request.user.id == trip.traveler_id%}
    <a href="{% url 'create_visit' trip_id=trip|private:'_id'%}">Add Visit</a>
  {% endif %}
</div>

{% for visit in trip.visits %}
{% if visit.visit_id != -1 %}
<section>
 <div class="container d-flex align-self-start text-left">
  <div class="card mb-5">
    <img src="data:image/jpg;base64,{{visit.visit_image}}" class="card-img-top" alt="..." style="object-fit: cover; object-position: center; width: 1000px; margin-bottom: 1rem;" >
    <div class="card-body">
      <h5 class="card-title">{{visit.visit_name}}</h5>
      <h5 class="card-text text-muted">{{visit.visit_place}}</h5>
      <p class="card-text"> &emsp;{{visit.visit_log}}</p>
      <p class="card-text"><small class="text-muted">Visited {{visit.published}}</small></p>
      {% if request.user.id == trip.traveler_id%}
        <a href="{% url 'edit_visit' trip_id=trip|private:'_id' visit_id=visit.visit_id %}">Edit</a>
        <a href="{% url 'delete_visit' trip_id=trip|private:'_id' visit_id=visit.visit_id %}" onclick="return confirm('Are you sure?')" >Delete</a>
      {% endif %}
    </div>
  </div>
  </div>
</section>
{% endif %}
{% endfor %}

<hr>
<section>
  <div class="container">
    <h5>Comments</h5>
    <div>
      <form method='GET' action="{% url 'create_comment' trip_id=trip|private:'_id' %}">
        <input type='text' name='c' placeholder="Leave a comment.." value='{{ request.GET.c }}' id='intry'>
        <input type='submit' value='Submit' class='button_1' id='sub1'>
      </form>
    </div>
    <hr><br>

     <div>
        {% include 'WandrLog/_partials/_comments.html' %}
    </div>
  </div>
</section>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCe7k8NDP5S1JHCkVCfGsSZQ6-JAHcBG_0" 
type="text/javascript"></script>
<script type="text/javascript">
  var locations = [
    {% for loc in locations %}
    ['{{loc.name}}', {{loc.lat}}, {{loc.long}}, {{loc.idx}}],
    {% endfor %}

  ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng({{destination.latitude}}, {{destination.longitude}}),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  const svgMarker = {
    path:
      "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
    fillColor: "blue",
    fillOpacity: 0.6,
    strokeWeight: 0,
    rotation: 0,
    scale: 2,
    anchor: new google.maps.Point(15, 30),
  };
  var infowindow = new google.maps.InfoWindow();

  var marker, i;
 
  marker = new google.maps.Marker({
      position: new google.maps.LatLng({{destination.latitude}}, {{destination.longitude}}),
      map: map,
      icon: svgMarker
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('{{trip.destination_name}}');
        infowindow.open(map, marker);
      }
    })(marker, 0));

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map

    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>


{% endblock content %}